@font-face {
    font-family: 'Font';
    src: url(font/проєкт.ttf); 
   }

body{
    width: 1200px;
    margin: auto;
    background-color: #fffcf6;
}

.title{
    font-size: 240%;
    color: #930500;
    text-align: left;
    font-family: 'Sofia Sans', serif;
}

.overview{
    font-size: 120%;
    color: #930500;
    text-align: left;
    font-family: 'Sofia Sans', serif;
}

.button {
    background-color: #95BBEA;
    color: #fffcf6;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    background-color: #7b9cc4;
}

.table{
    width: 100%;
    border: 1px solid #930500;;
}
.td{
    width: 33%;
    border: 1px solid #930500;;
}

input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    accent-color: #95BBEA;
    border-color: transparent;
    text-decoration: none;
    color: #fff8e7;
    text-align: center;
    border-radius: 20%;
    size: 25%;
}