@font-face {
    font-family: 'Font';
    src: url(font/проєкт.ttf); 
   }

body{
    width: 1200px;
    margin: auto;
    background-color: #fffcf6;
}

.title{
    font-size: 240%;
    color: #930500;
    text-align: left;
    font-family: 'Sofia Sans', serif;
}

.overview{
    margin-top: 20px;
    font-size: 120%;
    color: #930500;
    text-align: left;
    font-family: 'Sofia Sans', serif;
}

.chosen_file{
    color: #930500;
    text-align: left;
    margin-left: 1px;
    font-family: 'Sofia Sans', serif;
    font-size: 80%;
}

.choose_btn {
    background-color: #95BBEA;
    color: #fffcf6;
    border: none;
    padding: 10px 20px;
    width: 280px;
    font-size: 120%;
    font-family: 'Sofia Sans', serif;
    margin-top: 15px;
    border-radius: 8px;
    cursor: pointer;
}
.choose_btn:hover {
    background-color: #7b9cc4;
}


.run_btn {
    background-color: #930500;
    color: #fffcf6;
    font-size: 150%;
    font-family: 'Sofia Sans', serif;
    border: none;
    padding: 15px 30px;

    margin-left: 2px;
    border-radius: 8px;
    cursor: pointer;
}
.run_btn:hover {
    background-color: #ba221c;
}
